@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.auth{
  background-image: url("./assets/dry-spices.jpg");
}
